a.active-class {
  color: rgb(226, 222, 222);
  
  
}

.navbar {
  margin-left:20px;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color : white;
}

.div_menu {
padding-top: 30px;
padding-bottom: 30px;
margin-top: 0px;
background-color: rgb(219, 21, 21);
padding-left: 20px;
margin-left: 100px;
margin-right: 100px;
border-radius: 10px;
}

.div_form {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(245, 242, 236);
  margin-left: 300px;
  margin-right: 300px;
}

.button_design {
  height: 40px;
  width: 100px;
  background-color:rgb(219, 21, 21) ;
  color: aliceblue;
  font-size: large;
}

.div_card {
  
  display: flex;
  margin-left: 80px;

}


.under_card {
  margin-left: 5%;
}

.heading2 {
  text-align:center;
  color:rgb(219, 21, 21) ;
}

.button_home {
  height: 50px;
  width: 200px;
  background-color:rgb(219, 21, 21) ;
  color: aliceblue;
  font-size: x-large;
  margin-left: 43%;
  border-style: none;
  border-radius: 8px;
}

.footer {
  background-color: rgb(32, 31, 31);
  width: auto;
  height: 600px;
  color: beige;
}

.para_course {
  font-size: 20px;
  font-family: cursive;
  margin-left: 20px;
  margin-right: 20px;
}

.div_login {
  float: right;
  margin-right: 30px;
}

.div_lform {
  height : 500px;
  width: 900px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(245, 242, 236);
  margin-left: 300px;
  margin-right: 300px;
  color:rgb(219, 21, 21) ;

}

.login_input {
  width: 700px;
  height: 40px;
  border-color: crimson;
}

.reg_input {
  width : 600px;
  height : 40px;
  border-color: crimson;
  border-radius: 5px;
}

.div_rform {
  height : 800px;
  width: 900px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(245, 242, 236);
  margin-left: 300px;
  margin-right: 300px;
  color:rgb(219, 21, 21) ;

}